<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= game[0].GAMENAME %>  </title>
    <style>



        footer {
            color : #888888;
            border-top: 1px solid #eeeeee;
            margin-top: 16px;
            padding: 8px 0;
        }
        
        header {
            border-bottom: 1px solid #eeeeee;
            margin-top: 16px;
            margin-bottom: 48px;
        }
        
        h1 {
            font-size: 64px;
            margin-bottom: 16px;
        }
        
        
        header a {
            color: #888888;
            margin-right: 16px;
            text-decoration: none;  /* removes the underline in links */
        }
        
        input.search-bar {
            border: 1px solid #cccccc;
            padding: 6px;
            width: 300px
        }
        
        button {
            cursor : pointer;
        }
        
        a.listed {
            color: #946aec;
            font-weight: bold;
            padding: 6px;
            text-decoration: none;
            list-style: none;
        }
        a.home {
            padding: 6px;
            text-decoration: none;
            list-style: none;
        }
        a.favourited {
            color: #e60ad0;
            padding: 6px;
            text-decoration: none;
        }
        a.listed-character {
            color: rgb(33, 116, 189);
            font-weight: bold;
            padding: 6px;
            text-decoration: none;
        }
        
        form.search-bar {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        form.search-bar button:hover {
            background:#555555;
        }
        /* Clear floats */
        form.search-bar::after {
            content: "";
            clear: both;
            display: table;
        }
        
        header ul{
          margin: 0;
          padding: 0;
          list-style: none;
        
        }
        
        header ul li{
          float: left;
          width: 90px;
          height: 30px;
          background-color:#ffffff;
          opacity: 0.99;
          line-height: 30px;
          text-align: center;
        }
        
        header ul li a{
          text-decoration: none;
          color: #888888;
          display: block;
          color: rgb(48, 18, 88);
        }
        
        header ul li a:hover{
          background-color: #666666 ;
          color:rgb(169, 228, 255);
        }
        header ul li ul li{
          display: none;
        }
        header ul li:hover ul li{
          display: block;
          background-color:rgb(255, 255, 255);
        }
        
        
        .shundor{
            margin-bottom: 20px;
        }
        #nav {
            margin-bottom: 7ch;
        }
        .card {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
        
        .price {
          color: grey;
          font-size: 22px;
        }
        
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        .card button:hover {
          opacity: 0.7;
        }
        
        .nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        </style>
</head>

<header>
    <h1 style="color: rgb(61, 39, 150); font-style: italic;">
    </h1>
    <section id="nav">
        <div class="shundor">
            <ul>
                <li><a href="/">Home</a></li>
                    <ul>
                        <li><a href="/">Categories</a></li>
                        <li><a href="/">Blogs</a></li>
                        <li><a href="/">Devs</a></li>

                    </ul>
                </li>
                <li>
                    <form action="/profile" method="post">
                        <input type="hidden" name="username" value=<%=username %>>
                        <button type="submit" > <%=username %> </button>
                    </form>
                <span style="float: right;">
                    <li><a href="/">Logout</a></li>
                </span>
            </ul>
        </div>
    </section>

    <section id="search">
        <!-- !SEARCH -->
        <form class="search-bar" action="/searchresults" method="post">
            <input class="search-bar" type="text" placeholder="Search for anything" name="searchKey">
            <input type="hidden" name="username" value=<%=username %>>
            <button type="submit">Search</button>
        </form>
    </section>


</header>
<body>
    <h1> <%= game[0].GAMENAME %> </h1>
    <p> genre: <%= game[0].GAMEGENRE %></p>
    <p> platform: <%= game[0].CONSOLE %> </p>
    <p> developer: <%= game[0].DEV %></p>
    <div>
        <p> Released:  <%= game[0].PUBLISHINGDATE %> </p>
        <span style="float: right;">
            <li> rating: <%= game[0].RATING %></li>
            <li> price : <%= game[0].GAMEPRICE %></li>
        </span>
        <% if(flag){ %>
            <form action="/getGAME" method="post">
                <input type="hidden" name="game" value=<%= game[0].GAMEID %> >
                <input type="hidden" name="username" value=<%=username %>>
                <button type="submit">
                    <p> GET THE GAME</p>
                </button>
            </form>
          <% } else{ %>  
         <% } %>
        
    </div>

    <div>
        <h1>Not Owned DLCS</h1>
        <div style="float: left; width : 50%">
            <% for (let dlcc of notOwnedDlcs){ %>
                <li>
                <form action="/getDLC" method="post">
                    <input type="hidden" name="dlcID" value=<%=dlcc.DLCID %> >
                    <input type="hidden" name="game" value=<%= game[0].GAMEID %> >
                    <input type="hidden" name="username" value=<%=username %>>
                    <button type="submit">
                        <%= dlcc.DLCNAME %>
                        <p> get DLC</p>
                    </button>
                    
                </form>
                       
                    </a>
                </li>
                <% } %>
        </div>
    </div>

    <div>
        <h1>Owned DLCS</h1>
        <div style="float: left; width : 50%">
            <% for (let dlcc of ownedDlcs){ %>
                <li>
                <h1><%= dlcc.DLCNAME %></h1>
                       
                    </a>
                </li>
                <% } %>
        </div>
    </div>
</body>
</html>