<!DOCTYPE html>
<html>

<head>
    <title>GAME VENDOR</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300"rel="stylesheet">

    <!-- <link rel="icon" href="/img/icons/mal-logo-head.png"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>



footer {
    color : #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 8px 0;
}

header {
    border-bottom: 1px solid #eeeeee;
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}


header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;  /* removes the underline in links */
}

input.search-bar {
    border: 1px solid #cccccc;
    padding: 6px;
    width: 300px
}

button {
    cursor : pointer;
}

a.listed {
    color: #946aec;
    font-weight: bold;
    padding: 6px;
    text-decoration: none;
    list-style: none;
}
a.home {
    padding: 6px;
    text-decoration: none;
    list-style: none;
}
a.favourited {
    color: #e60ad0;
    padding: 6px;
    text-decoration: none;
}
a.listed-character {
    color: rgb(33, 116, 189);
    font-weight: bold;
    padding: 6px;
    text-decoration: none;
}

form.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

form.search-bar button:hover {
    background:#555555;
}
/* Clear floats */
form.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

header ul{
  margin: 0;
  padding: 0;
  list-style: none;

}

header ul li{
  float: left;
  width: 90px;
  height: 30px;
  background-color:#ffffff;
  opacity: 0.99;
  line-height: 30px;
  text-align: center;
}

header ul li a{
  text-decoration: none;
  color: #888888;
  display: block;
  color: rgb(48, 18, 88);
}

header ul li a:hover{
  background-color: #666666 ;
  color:rgb(169, 228, 255);
}
header ul li ul li{
  display: none;
}
header ul li:hover ul li{
  display: block;
  background-color:rgb(255, 255, 255);
}


.shundor{
    margin-bottom: 20px;
}
#nav {
    margin-bottom: 7ch;
}
.card {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
</style>
</head>

<header>
    <h1 style="color: rgb(61, 39, 150); font-style: italic;">
    </h1>
    <section id="nav">
        <div class="shundor">
            <ul>
                <li><form action="/home2" method="post">
                    <input type="hidden" name="username" value=<%=username %>>
                    <button type="submit" > Home </button>
                </form></li>
                    <ul>
                        <li>
                            <form action="/everyGames" method="post">
                                <input type="hidden" name="username" value=<%=username %>>
                                <button type="submit" > Games </button>
                            </form>
                        </li>
                        <li>
                            <form action="/allBlogs" method="post">
                                <input type="hidden" name="username" value=<%=username %>>
                                <button type="submit" > Blog </button>
                            </form>
                        </li>
                        <li>
                            <form action="/getNews" method="post">
                                <input type="hidden" name="username" value=<%=username %>>
                                <button type="submit" > News </button>
                            </form>
                        </li>
                        <li>
                            <form action="/getChampionship" method="post">
                                <input type="hidden" name="username" value=<%=username %>>
                                <button type="submit" > Championships </button>
                            </form>
                        </li>
                        
                        
                        

                        

                    </ul>
                </li>
                <li>
                    <form action="/profile" method="post">
                        <input type="hidden" name="username" value=<%=username %>>
                        <button type="submit" > <%=username %> </button>
                    </form>
                <span style="float: right;">
                    <li><a href="/">Logout</a></li>
                </span>
            </ul>
        </div>
    </section>

    <section id="search">
        <!-- !SEARCH -->
        <form class="search-bar" action="/searchresults" method="post">
            <input class="search-bar" type="text" placeholder="Search for anything" name="searchKey">
            <input type="hidden" name="username" value=<%=username %>>
            <button type="submit">Search</button>
        </form>
    </section>


</header>

<body>
    <div class="main-content">
        <section id="homepage-top-animes" style="margin-bottom: 15%;">
            <div>
                <h3> <a class="home" href="#">Recently Released</a> </h3>
                <% for (let game of recent){ %>
                    <form action="/gameProfile" method="post">
                        <input type="hidden" name="gameID" value=<%=game.GAMEID %> >
                        <input type="hidden" name="username" value=<%=username %>>
                        <button type="submit">
                            <div class="card">
                                <img src="/img/12.PNG" style="width:100%">
                                <h3><%= game.GAMENAME %></h3>
                                <p class="price"><%= game.GAMEPRICE %></p>
                                <p><%= game.GAMEGENRE %></p>
                            </div>
                        </button>
                    </form>   
                        </a>
                    <% } %>
            </div>
    <div class="main-content">
            <section id="homepage-top-animes" style="margin-bottom: 15%;">
                <div>
                    <h3> <a class="home" href="#">Free Games</a> </h3>
                    <% for (let game of freeGames){ %>
                        <form action="/gameProfile" method="post">
                            <input type="hidden" name="gameID" value=<%=game.GAMEID %> >
                            <input type="hidden" name="username" value=<%=username %>>
                            <button type="submit">
                                <div class="card">
                                    <img src="/img/12.PNG" style="width:100%">
                                    <h3><%= game.GAMENAME %></h3>
                                    <p class="price"><%= game.GAMEPRICE %></p>
                                    <p><%= game.GAMEGENRE %></p>
                                </div>
                            </button>
                        </form>   
                            </a>
                        <% } %>
                </div>

                <div class="main-content">
                    <section id="homepage-top-animes" style="margin-bottom: 15%;">
                        <div>
                            <h3> <a class="home" href="#">Action Games</a> </h3>
                            <% for (let game of actionGames){ %>
                                <form action="/gameProfile" method="post">
                                    <input type="hidden" name="gameID" value=<%=game.GAMEID %> >
                                    <input type="hidden" name="username" value=<%=username %>>
                                    <button type="submit">
                                        <div class="card">
                                            <img src="/img/12.PNG" style="width:100%">
                                            <h3><%= game.GAMENAME %></h3>
                                            <p class="price"><%= game.GAMEPRICE %></p>
                                            <p><%= game.GAMEGENRE %></p>
                                        </div>
                                    </button>
                                </form>   
                                    </a>
                                <% } %>
                        </div>
                <div class="main-content">
                    <section id="homepage-top-animes" style="margin-bottom: 15%;">
                        <div style="float: left; width : 50%">
                            <h3> <a class="home" href="/">Sports Games</a> </h3>
                            <% for (let game of sports){ %>
                                <form action="/gameProfile" method="post">
                                    <input type="hidden" name="gameID" value=<%=game.GAMEID %> >
                                    <input type="hidden" name="username" value=<%=username %>>
                                    <button type="submit">
                                        <div class="card">
                                            <img src="/img/12.PNG" style="width:100%">
                                            <h3><%= game.GAMENAME %></h3>
                                            <p class="price"><%= game.GAMEPRICE %></p>
                                            <p><%= game.GAMEGENRE %></p>
                                        </div>
                                    </button>
                                </form>   
                                    </a>
                                <% } %>
                        </div>

                        <div class="main-content">
                            <section id="homepage-top-animes" style="margin-bottom: 15%;">
                                <div style="float: left; width : 50%">
                                    <h3> <a class="home" href="/">Adventure Games</a> </h3>
                                    <% for (let game of adventureGames){ %>
                                        <form action="/gameProfile" method="post">
                                            <input type="hidden" name="gameID" value=<%=game.GAMEID %> >
                                            <input type="hidden" name="username" value=<%=username %>>
                                            <button type="submit">
                                                <div class="card">
                                                    <img src="/img/12.PNG" style="width:100%">
                                                    <h3><%= game.GAMENAME %></h3>
                                                    <p class="price"><%= game.GAMEPRICE %></p>
                                                    <p><%= game.GAMEGENRE %></p>
                                                </div>
                                            </button>
                                        </form>   
                                            </a>
                                        <% } %>
                                </div>


               
</body>

</html>